body 
{
	 padding: 1%; 
	 margin: 1%;
}
h1
{
     text-transform:uppercase;
     text-align:center;
     padding: 3%; 
	 margin: 1%;
	 color: #FFFFFF; /* White */
	 font-family: "Trebuchet MS", Helvetica, sans-serif; 
	 font-size: 25px;
	 position: relative;
	 top: -10px;
	
}
header 
{
	 background: rgb(17,30,108); /* blue */
     background-size:100%
}
nav 
{
	text-align: center;
}
nav a
{
    background-color: rgb(100,149,237);
	color: #000000; /* Black */
	display: inline-block;
	padding: 10px;
	margin: 1%; 
	text-decoration: none; 
	border-radius: 5px; 
}
.active
{
	background: rgb(175,238,238);
}
table
{
    font-weight:bold;
    font:Ariel;
    width:80%;
    margin:2px;
    font-size:90%;
}
th
{ 
  background-color:rgb(240,255,255);
  bottom:0.5;
 }
td
{
  padding:10px;
  /*color:rgb(128,128,128);*/
  background-color:rgb(255,255,255);
  border-radius:2px;
  text-align:center;
}
